body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(153, 153, 153);
}

h1{
    color: crimson;
}

h2{
    color: lightcoral;
}

h3{
    color: gray;
}

li{
    color:brown;
    list-style-type: none;
    margin: 0;
    padding: 0;
}