<nav id="navbar">
    <h3>API de productos</h3>
    <ul>
        <li><a href="/api/products">HOME</a></li>
        <li><a href="/api/carts">CARRITOS</a></li>
    </ul>
    <a href="/api/sessions/login">
        <p>Acceder</p>
    </a>
    <a href="/api/sessions/current">
        <p>Perfil</p>
    </a>
    <a href="/api/carts/current">
        <p>Mi carrito</p>
    </a>
    <a href="/api/sessions/logout" id="logout">
        <p>Cerrar sesión</p>
    </a>
</nav>

<script>src="/js/navbar.js"</script>